/* Global */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
}

:root {
}

::-webkit-scrollbar {
	display: none;
}

.flex {
	display: flex;

	align-items: center;
	justify-content: space-between;
}

.modalToggle {
	display: none;
}

.button {
	background: #e0e0e0;

	border: none;
	cursor: pointer;

	transition: 150ms ease-out;
}

/* Library Content */
#library {
	height: 100vh;
	width: 100vw;

	flex-direction: column;

	background: #e0e0e0;
}



/* Header */
#libraryHeader {
	width: 100vw;

	line-height: 10vh;
	text-align: center;

	font-size: 36pt;
}

/* Book Container */

#bookContainer {
	height: 72vh;
	width: 90vmin;
	padding: 4px;

	border-radius: 24px;

	overflow: scroll;
	background: #e0e0e0;
	box-shadow:  6px 6px 12px #bebebe,
				 -3px -3px 6px #ffffff;
}
/* Book Card */
.bookCard {
	height: 16vh;
	margin: 8px;
	padding: 8px;
	display: grid;
	grid-template-columns: 72px 10fr 72px;

	align-items: center;

	border: solid 0px #1c1c1c;
	border-radius: 12px;

	background: #e0e0e0;
	box-shadow:  1px 1px 2px #bebebe,
				 -1px -1px 2px #ffffff;
}
.bookInfo {
	height: 100%;
	padding: 8px;
	line-height: 6vh;
	font-size: 22px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bookStatusContainer {
	height: 50%;
	padding-right: 8px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: scale(2.2);
	color: #1c1c1c;
	transition: 50ms ease;
}

.bookStatus {
	font-size: 8px;
	text-align: center;
	text-align: center;
}

.toggleBook {
	color: #1c1c1c;

	border: none;
	border-radius: 25%;

	box-shadow: inset 2px 2px 2px #bebebe,
	inset -2px -2px 2px #ffffff;
}

.deleteBook {
	height: 36px;
	width: 36px;

	align-self: center;
	justify-self: flex-end;

	border-radius: 50%;

	font-size: 22pt;
	border: none;

	box-shadow:  3px 3px 6px #bebebe,
	 -3px -3px 6px #ffffff;

}

/* Add Book Button */
#addBookLabel {
	padding: 8px;

	border-radius: 8px;

	font-size: 18pt;

	background: #e0e0e0;
	box-shadow:  2px 2px 4px #bebebe,
				 -2px -2px 4px #ffffff;

	cursor: pointer;

	transition: 120ms ease;
}

#addBookButton {
	height: 36px;
	width: 36px;

	margin-right: 8px;

	border-radius: 50%;

	font-size: 25pt;

	transition: 50ms ease;
}





/* Book Form Modal*/
/* Form Modal */
#formModal {
	height: 80vh;
	width: 90vmin;

	flex-direction: column;
	justify-content: center;

	position: absolute;
	top: 10vh;

	border: solid 0px;
	border-radius: 16px 0;

	background: #e0e0e0;
	box-shadow:  4px 4px 8px #bebebe,
				 -4px -4px 8px #ffffff;
}

#formCloseButton {
	height: 48px;
	width: 48px;

	position: absolute;
	top: 0;
	left: 0;

	margin: 8px;

	border-radius: 50%;

	font-size: 28pt;
	border: none;

	background-color: #e0e0e0;

	box-shadow:  4px 4px 8px #bebebe,
				 -4px -4px 8px #ffffff;
}

#formSubmitButton {
	height: 92px;
	width: 92px;

	position: absolute;
	bottom: 0;
	right: 0;

	margin: 8px;

	border-radius: 25%;

	font-size: 48pt;
	border: none;

	background-color: #e0e0e0;

	box-shadow:  4px 4px 8px #bebebe,
				 -4px -4px 8px #ffffff;

}

#formReadLabel {
	height: 54px;
	width: 150px;

	margin: 8px;

	justify-content: center;

	font-size: 25pt;
}

#formReadBox {
	height: 28px;
	width: 28px;
	background-color: #e0e0e0;

	box-shadow:  1px 1px 2px #bebebe,
				 -1px -1px 2px #ffffff;
	margin-right: 8px;
	
}



.formField {
	height: 10%;
	width: 75%;

	margin: 8px;
	padding: 32px;

	border-radius: 32px;
	border: none;
	text-align: center;
	font-size: 16pt;

	background: #e0e0e0;

	box-shadow: inset 4px 4px 8px #bebebe,
				inset -4px -4px 8px #ffffff;
}

/* Footer */
#libraryFooter {
	width: 100vw;

	line-height: 5vh;
	text-align: center;
	font-size: 14pt;
}

/* Animations */
@keyframes backgroundFlow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
